ion-toolbar {
    --background: #344955;
}

ion-menu-button {
    color: white;
}

ion-content{
    --background:#344955;
}

ion-button {
    --background: linear-gradient(180deg, rgba(210,162,56,1) 0%, rgba(250,187,16,1) 53%);
    position: relative;
    display:inline-block;
    padding-right: 50%;
    
    
}