<!-- Header-->
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title><ion-title><b>About US</b></ion-title>
    </ion-toolbar>
    
</ion-header>
<!-- Header-->

<ion-content>
  <br>
  <br>
  <nav class="navbar">
  <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/about-us_logo.png">
      </a>
    </div>
  </nav>
  <hr>
<h4>Welcome to TouristServices, your number one source for all things [product]. <br> We're dedicated to providing you the best of [product], with a focus on dependability. customer service, and [store characteristic].<br><br>We're working to turn our passion for [product] into a booming online store. <br><br> We hope you enjoy our products as much as we enjoy offering them to you.</h4>

</ion-content>
