<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <h1>Rate US on : </h1>
  <!-- logo -->
  <div class="rate">
      <br>
      <br>
      <p><img src="assets/playstore.png"></p>
      <br>
      <br>
      <p><img src="assets/app-store.png"></p>
      <br>
      <br>
      <p><img src="assets/huawei.png"></p>
    
  </div>


   
</ion-content>
