ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  --background: #344955;

}

h1{

  position: relative;
  font-style: bold;
  text-align: center;
  color:azure;

}

p{
  text-align: center;
}